.search-container {
  min-height: calc(100vh - 34px);
}

.search-container .main-heading {
  font-size: 2.5rem;
  font-weight: 700;
  margin-left: 4rem;
  margin-top: 1rem;
  color: #8b39bb;
}

.search-container .loader{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.search-container .loader svg{
  width: 200px;
  height: 200px;
}

.search-container .container {
  padding-top: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 235, 235);
  width: fit-content;
  border-radius: 6px;
  margin-bottom: 30px;
}

.search-container .blog-card {
  margin-bottom: 30px;
  width: 40rem;
  border-radius: 12px;
  cursor: pointer;
}

.search-container .blog-card .card-img-top {
  height: 30vh;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.search-container .blog-card .card-body {
  padding: 0.5rem;
}

.search-container .blog-card .card-body h1 {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.search-container .blog-card .card-body h1:hover {
  color: #8b39bb;
}

.search-container .blog-card .card-body .blog-info {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.1rem;
  color: #181717;
}

.search-container .blog-card .card-body .blog-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  color: #181717;
  margin-top: 1rem;
}

.search-container .blog-card .card-body .blog-items span {
  padding-right: 1.7rem;
}

@media (max-width: 992px) {
  .search-container {
    flex-direction: column;
  }

  .search-container .blog-card {
    margin-bottom: 30px;
    width: 20rem;
    border-radius: 12px;
    cursor: pointer;
  }
}
